 

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L] 

RewriteCond %{HTTP_HOST} ^www\.tendenzeperu\.com$
RewriteRule ^/?$ "http\:\/\/tendenzeperu\.com\/" [R=301,L]
</IfModule>